body {
    background-image: url('../images/patten_opacity.png');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}
#animation_container{
    background-color: white;
    box-shadow: -10px 0px 10px -10px #888888, 10px 0px 10px -10px #888888;
}
#container{
    width:960px;
    margin: 0 auto;
}

header>nav{
    float:right;

}
/*òéöåá úôøéè ðéååè*/
ul{
    list-style-type: none;
  
}
#mainNav{
    position:relative;
    right:50px;
    z-index:1;
}

#mainNav>ul>li
{
float:right;
}

#mainNav ul li a{
    display: block;
    height:20px;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-family:Assistant;
}
#mainNav>ul>li>a{
    font-size: 14pt;
    text-align: center;
    margin-left:30px;
}
#mainNav ul li a:hover, #mainNav ul li a:focus{
   color: white;
   text-decoration:underline;
}

/*òéöåá úú úôøéè*/
#mainNav>ul>li ul {
    display: none;
    position: absolute;
    background-color: white;
    border-right: 1px solid #549d9d;
    border-left: 1px solid #549d9d;
    border-bottom: 1px solid #549d9d;
     z-index:1;
}
#mainNav>ul>li ul li a{
    text-align: right;
    font-size:12pt; 
    width:110px;  
}
#mainNav>ul>li>ul>li>ul>li>a{
    width:130px;
}

#mainNav>ul>li ul li a:hover, #mainNav>ul>li ul li a:focus{
   background-color: #549d9d;
   color: white; 
   text-decoration:underline;
}
#mainNav>ul>li:hover>ul, #mainNav>ul>li:focus>ul{
    display:block;
}

#mainNav>ul>li:nth-child(1){
    margin-right:60px;
}
#mainNav>ul>li:nth-child(4)>ul>li>a{
    width:100px;
}
#mainNav>ul>li:nth-child(3)>ul>li>a{
    width:140px;
}
#mainNav>ul>li:nth-child(6)>ul>li>a{
    width:120px;
}


    #mainNav #headLogoPic  {  
      background-image: url(../images/iconWeb.png);
    background-size: 40px;
    width: 40px;
    height: 75px;
    float: right;
    background-repeat: no-repeat;
    padding: 0px;
    transform: rotate(67deg);
    position: relative;
    top: -22px;
    right: -16px;
    display: inline-block;
    }
/*úú-úú úôøéè*/

#roll ul{
    display:none;
}

#roll:hover ul, #roll:focus ul{
    display:block;
    position:absolute;
    right: 120px;
    top: 40px;
    border:1px solid #549d9d;
    z-index:1;
}


/*äâãøú æéäåé äòîåã ùòìéå äîùúîù ðîöà*/

#mainNav .selected{
 color: white;
 border-bottom: 2px solid black;
   cursor: not-allowed;
   z-index:1;
}

 /*ééöåâ àéðèøà÷èéáé*/
 #interFotter{
     width:100%;
     z-index:0;
     right:0px;
     height:40px;
 }
 .greenBg{
    background-color:#549d9d;
    width: 100%;
    height:50px;
    position:absolute ;
    display:inline-block;
    z-index:-1;
    
}
 .notActive{
  cursor: not-allowed;
}
